$header-bg-color: #2196F3;
$header-color: #fff;
$header-min-height: 64px;
$drawer-width: 240px;
$desktop-breakpoint: 840px;
$tablet-breakpoint: 480px;
$grid-desktop-max-columns: 12;
$grid-tablet-max-columns: 8;
$grid-phone-max-columns: 4;
$content-width: 960px;

@mixin block-shadow() {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}

@mixin drawer-shadow() {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*[hidden], .hidden {
  display: none !important;
}

html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.ui-layout {
  display: flex;
  flex-direction: column;
}

.ui-header {
  display: flex;
  background-color: $header-bg-color;
  color: $header-color;
  min-height: $header-min-height;
  width: 100%;
  margin: 0;
  padding: 0;
  @include block-shadow();
  z-index: 2;
}

.ui-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 0 40px 0 80px;
  margin: 0;
  height: $header-min-height;
}

.ui-title {
  font-size: 20px;
  line-height: 1;
}

.ui-spacer {
  flex: 1;
}

.ui-nav {
  display: flex;
  flex-wrap: nowrap;

  &.large-screen-only {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

.ui-link {
  cursor: pointer;
  color: $header-color;
  text-decoration: none;
  padding: 0 24px;
  line-height: $header-min-height;
}

.ui-drawer-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin: 8px 12px;
}

.ui-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: $drawer-width;
  height: 100%;
  background-color: #fafafa;
  color: #424242;
  border-color: rgba(0,0,0,0.14);
  transition: transform 0.2s;
  transform: translateX(-$drawer-width);

  z-index: 5;

  &.is-visible {
    transform: translateX(0);
    @include drawer-shadow();
  }

  & .ui-title {
    line-height: $header-min-height;
    padding-left: 40px;
  }

  & .ui-nav {
    flex-direction: column;
    padding-top: 16px;
  }

  & .ui-link {
    line-height: 24px;
    padding: 16px 40px;
    color: #757575;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.ui-obfuscator {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-duration: 0.2s;
  visibility: hidden;
  z-index: 4;

  &.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
  }
}

.ui-main {
  margin: 0 auto;
  max-width: $content-width;
  min-height: 1000px;
  padding: 40px;
}

.section {
  margin-bottom: 120px;
}

.ui-card {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 2px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

.light-shadow {
  @include block-shadow();
}

.heavy-shadow {
  @include drawer-shadow();
}

.ui-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.fill {
    flex-wrap: nowrap;
  }
}

.ui-cell {
  flex-basis: 100%;
}

@for $i from 1 through $grid-desktop-max-columns {
  .ui-cell-#{$i}-col {
    width: percentage(1 / $grid-desktop-max-columns * $i);
  }
}

@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
  @for $i from 1 through $grid-tablet-max-columns {
    .ui-cell-#{$i}-col {
      width: percentage(1 / $grid-tablet-max-columns * $i);
    }
  }
}

@media (max-width: $tablet-breakpoint - 1) {
  @for $i from 1 through $grid-phone-max-columns {
    .ui-cell-#{$i}-col {
      width: percentage(1 / $grid-phone-max-columns * $i);
    }
  }
}

.ui-button {
  background: rgba(158,158,158,.2);
  border-radius: 2px;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  position: relative;

  &.active {
    @include drawer-shadow();
  }
}

.ui-button-raised {
  @include block-shadow();
}

.ui-button-colored {
  color: #fff;
  background-color: $header-bg-color;
}

.ui-button-round {
  border-radius: 50%;
  font-size: 24px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  padding: 0;

  .material-icons {
    position: absolute;
    transform:translate(-50%, -50%);
  }
}
